<!-- En about_me.html -->
{% extends "base.html" %}

{% block start %}
<section class="position-relative py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-white rounded-lg shadow p-5">
                    <h2 class="mb-3">¡Hola, soy Jose Ignacio Tula Molina!</h2>
                    <p class="text-muted">¡Bienvenido a mi espacio en Blog App! Soy un estudiante universitario de la carrera ingenieria en informatica, que siempre se intereso en el desarrollo tecnologico.</p>
                    <p class="text-muted">Actualmente vivo en San Miguel de Tucuman.</p>
                    <p class="text-muted">Fuera del mundo digital, me encanta ir al gym y andar en bicicleta.</p>
                    <p class="text-muted">Gracias por visitar, ¡espero que disfrutes del viaje!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
